<!doctype html>
<html class="bg-stone-50 font-sans text-sm text-stone-700">
  <head>
    <%= partial "partials/head_meta_tags" %>
    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag "code_highlighting" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body class="max-w-3xl mx-auto flex flex-col h-full p-4 sm:p-8 mt-12 mb-12">
    <%= partial "partials/menu" %>
    <%= yield %>
  </body>
</html>
